.listMusicRight {
  .ant-tabs-content-top {
    height: calc(100vh - 90px) !important;
    overflow-y: auto;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
      background-color: transparent !important;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(121, 41, 41);
      background-image: -webkit-linear-gradient(
        90deg,
        rgb(189, 58, 194) 0%,
        rgb(168, 71, 192) 25%,
        transparent 100%,
        rgba(87, 25, 87, 0.26) 75%,
        transparent
      );
    }
  }
}
