.listMusicRight {
  .ant-tabs-content-top {
    height: calc(100vh - 90px);
    max-width: 280px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.__200px {
  .ant-tabs-content-top {
    height: calc(100vh - 200px) !important;
  }
}
.fixDanhSach {
  position: fixed;
  top: 80px;
  z-index: 9;
}
.h-30 {
  height: 30px;
}