@import '/src/assets/styles/valiable.scss';

.musicPlay {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 0 20px;
    transition: 0.7s;
   
    .musicPlay--left {
        display: flex;
        align-items: center;
        
        .ant-btn-icon-only {
            color: $colorBody;
            margin-left: 10px;
            .anticon {
              transition: 0.3s;
              font-size: 23px;
              &:hover {
                color: $colorBodyHover;
              }
            }
          }
    }
    .musicPlay--mid {
        background: transparent !important;

        .rhap_repeat-button, .rhap_main-controls-button,.rhap_volume-button,.rhap_time {
            color: $colorBody;
        }
        .rhap_progress-filled, .rhap_progress-indicator{
            background: $colorBody;
        }
        .rhap_download-progress {
            background:none !important;
        }
    }
    .musicPlay--right {
        margin-left: 55px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }
}
.closeMusicPlaying {
    transform: translateY(100px);
    
}