@import "/src/assets/styles/valiable.scss";
.header {
  background-color: #37075d !important;
  padding: 0 20px !important;
  // position: sticky;
  background: transparent !important;
  top: 0px;
  z-index: 999;
  & .input {
    width: 400px !important;
    background: transparent !important;
    border-radius: 20px;
    .ant-input {
      color: $colorBody;
      background: transparent !important;
    }
    .ant-input-prefix {
      color: $colorBody;
    }
  }
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #d33df3 !important;
}
.ant-modal-title {
  color: $colorBody;
  font-weight: bolder;
}
.HeaderModal {
  min-width: 700px !important;
  width: 700px !important;
  .ant-card {
    display: inline-block;
    background-color: transparent;
    border: none !important;
    width: 200px;
    margin: 0 20px;
    img {
      height: 170px;
      border-radius: 20px;
      object-fit: fill;
    }
  }
}
