@import "/src/assets/styles/valiable.scss";
@mixin table {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
.header {
  padding: 0 20px !important;
  background: transparent !important;
  z-index: 99;
  transition: all 0.3s;
  height: 100%;
  & .input {
    width: 100%;
    background: transparent !important;
    border-radius: 20px;
    .ant-input {
      color: $colorBody;
      background: transparent !important;
    }
    .ant-input-prefix {
      color: $colorBody;
    }
  }
  .logo {
    height: 30px;
    margin-top: 10px;
  }
  .buttonUser {
    img {
      transform: translateY(-3px);
      width: 30px;
      border-radius: 50%;
      height: 31px;
      object-fit: cover;
    }
  }
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #d33df3 !important;
}
.ant-modal-title {
  color: $colorBody;
  font-weight: bolder;
}
.HeaderModal {
  min-width: 700px !important;
  width: 700px !important;
  @include table {
    min-width: 50% !important;
  }
  .ant-modal-body > div {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .ant-card {
    flex: 1;
    // display: inline-block;
    // @include table {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   flex-direction: column;
    // }
    background-color: transparent;
    border: none !important;
    width: 200px;
    margin: 0 20px;
    img {
      height: 170px;
      border-radius: 20px;
      object-fit: fill;
    }
  }
}
