@import '/src/assets/styles/valiable.scss';
.SubMusic {
    background-color: transparent;
    border: none;
    
    .ant-card-meta-title {
        color: $colorBody;
        margin-bottom: 0;
    }
    .ant-card-meta-description {
        color: $colorBody;
        opacity: 0.5;
    }
    .ant-avatar-image {
        width: 50px;
        height: 50px;
    }
}
.SubMenuCircle {

    .ant-avatar-image {
        width: 70px;
        height: 70px;
        border: 2px solid $colorBodyHover;
    }
}
.animateRotate {
    .ant-avatar-image {
        animation: rotation 10s infinite linear;
    } 
}
@keyframes  rotation{
    0% {
        transform: rotate(0deg) ;
    }
    100% {
        transform: rotate(359deg) ;
    }
}