@import 'antd/dist/antd.css';
@import 'valiable.scss';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'PT Sans', sans-serif;
    background-image: url('../images/zma.svg');  
    overflow-x: hidden;
    color: $colorBody;
  }
  .colorBody {
    color: $colorBody;
  }
  #components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  .ant-layout {
      background: transparent !important;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background: #986ba752 !important;
  }