$colorBody: #fff;
$colorBodyHover: rgb(209, 59, 184);
/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px; 
$tablet-small-width: 576px; 
$tablet-width: 768px; 
$desktop-width: 1200px;  
$text-top1: rgb(235, 57, 57);
$text-top2: rgb(62, 247, 155);
$text-top3: rgb(230, 198, 14);
