$colorBody: #fff;
$colorBodyHover: rgb(209, 59, 184);
/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px; 
$tablet-small-width: 576px; 
$tablet-width: 768px; 
$desktop-width: 1200px;  
