@import "/src/assets/styles/valiable.scss";
@mixin table {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
.HomeSlider {
  .sliderItem {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    position: relative;
    &:hover {
      cursor: grab;
      .sliderItem_button {
        visibility: visible;
        color: rgb(175, 175, 175);
        box-shadow: 0 0 5px 0 rgb(42, 119, 235);
      }
    }
    img {
      width: 100%;
      height: 200px;
      object-fit: fill;
      border-radius: 20px;
    }
    &_button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      visibility: hidden;
      transition: 0s;
      background-color: #283231d5;
      color: white;
    }
  }
  .slick-prev:before,
  .slick-next:before {
    color: #fff;
    padding: 100px 0;
  }
  .slick-arrow {
    opacity: 0;
    transition: opacity 0.3s;
    @include table {
      opacity: 1;
    }
  }
  &:hover .slick-arrow {
    opacity: 1;
  }
}
.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.623) !important;
}
.HomeSliderModal {
  min-width: 400px;
  width: 400px !important;
  text-align: center;
  .ant-card-meta-title {
    color: $colorBody;
  }
  .ant-modal-content,
  .ant-modal-header {
    border-radius: 25px !important;
    background: #8034a0;
  }
  .ant-modal-footer {
    display: none;
  }
  img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
  }
  & * p {
    font-size: 16px;
    font-weight: bold;
    color: $colorBody;
  }
  .ant-spin-dot-item {
    background: rgb(3, 3, 3);
  }
}
